---
layout: archive
title: "My Publications"
permalink: /publications/
author_profile: true
---

You can find my most up-to-date publications on <a href="https://scholar.google.com/citations?user=yM7-EMMAAAAJ">my Google Scholar profile</a>.<br><br>

<ol reversed>

  <li>Electronic structures of atomic silicon dimer wires as a function of length<br>
<u>Altincicek, F. M.</u>; Livadaru, L.; Leon, C. C.; Chutora, T.; Yuan, M.; Achal, R.; Croshaw, J.; Pitters J.; Wolkow, R. <i>Nanotechnology</i>, 2025. DOI: <a href="https://doi.org/10.1088/1361-6528/adafae">10.1088/1361-6528/adafae</a><br><br>
</li>

  <li>One-Pot Synthesis of Graphene Quantum Dots Using Humic Acid and Its Application for Copper (II) Ion Detection<br>
Liu, X.; Han, J.; Hou, X.; <b>Altincicek, F.</b>; Oncel, N.; Pierce, D.; Wu, X.; Zhao, J. X. <i>Journal of Materials</i> Science 2020, 56, 4991–5005. DOI: <a href="https://doi.org/10.1007/s10853-020-05583-6">10.1007/s10853-020-05583-6</a><br><br>
</li>
  
  <li>Structural Evolution of Organic Matter in Deep Shales by Spectroscopy (<sup>1</sup>pH and <sup>13</sup>C Nuclear Magnetic Resonance, X-Ray Photoelectron Spectroscopy, and Fourier Transform Infrared) Analysis<br>
Lee, H.; Oncel, N.; Liu, B.; Kukay, A.; <b>Altincicek, F.</b>; Varma, R. S.; Shokouhimehr, M.; Ostadhassan, M. <i>Energy & Fuels</i> 2020, 34, 2807–2815. DOI: <a href="https://doi.org/10.1021/acs.energyfuels.9b03851">10.1021/acs.energyfuels.9b03851</a><br><br>
</li>

  <li>Synthesis And Characterization Of Quasi-Two-Dimensional Chromium Sulfides<br>
<b>Altincicek, F. M.</b> <i>University of North Dakota, Theses and Dissertations</i> 2019, 2446. Link: <a href="https://commons.und.edu/theses/2446/">commons.und.edu/theses/2446/</a><br><br>
</li>

</ol>
  
{% comment %}
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my most up-to-date publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
{% endcomment %}


